@import 'compass';

*
{
	/* apply a natural box layout model to all elements */
	@include box-sizing(border-box);

	margin: 0;
	padding: 0;

	outline: none;
}

// Clearfix
.clearfix:after{ content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix{ display: inline-block; }
* html .clearfix{ height: 1%; } /* Hides from IE-mac \*/
.clearfix{ display: block; }
// End Clearfix

a, a:visited, a:hover, a:link, a:active
{
	text-decoration: none;
}

ul, li
{
	list-style: none;
}
